.cart {

    &__product-card {
        position: relative;
        margin-bottom: 26px;
        padding: 40px 20px; 
        border-radius: 16px;
        font-family: Overpass;
        box-shadow: 0 0 6px #DCDCDC;
    }

    &__image {
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 0 6px #DCDCDC;
        border-radius: 16px;
        img {
            width: 100%;
        }
    }

    &__wrapper {
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
    }
}