.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
    border: none;
    box-shadow: 0 0 6px #DCDCDC;
    border-radius: 10px;
    font-family: Overpass;
    cursor: pointer;
    transition: transform 1s ease-out;

    &__link {
        color: #000000;
    }

    &__image {
        box-shadow: 0 0 6px #DCDCDC;
        border-radius: 10px;
        margin-bottom: 10px;

        img {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 18px;
    }

    &__color {
        position: absolute;
        top: 10px;
        right: 10px;

        span {
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid #DCDCDC;
            border-radius: 50%;
        }
    }

    &__heart {
        margin-right: 20px;
        width: 22px;
        height: 22px;
        transition: transform 0.5s ease-out;

        svg {
            width: 100%;
            height: 100%;
            fill: #DCDCDC;
        }

        svg:hover {
            fill: #49beb7;
        }
    }

    &__heart:hover {
        transform: scale(1.1);
    }

    &__heart.active {
        svg {
            fill: #49beb7;
        }
    }

    &__wrapper {
        justify-content: space-between;
        align-items: center;
    }

    &__cart-favorites {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__price {
        font-size: 18px;
        font-weight: 700;
    }

    &__cart {
        position: relative;
        width: 22px;
        height: 22px;
        transition: transform 0.5s ease-out;

        svg {
            width: 100%;
            height: 100%;
            fill: #A9A9A9;
        }

        svg:hover {
            fill: #49beb7;
        } 
    }

    &__cart:hover {
        transform: scale(1.1);
    }

    &__cart.active-cart {
        svg {
            fill: #49beb7;
        }
    }

    &__cart-check {
        position: absolute;
        top: -8px;
        right: -8px;
        display: none;
        width: 14px;
        height: 14px;
    }

    &__cart-check.active-cart {
        display: block;
    }
}

.product-card:hover {
    transform: scale(1.1);
}