.formic-wrapper {
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__field {
        position: relative;
        margin-bottom: 20px;
        div {
            display: flex;
            flex-direction: column;
            align-items: start;
            
            label {
                font-family: Overpass;
                font-size: 12px;
                font-weight: 400;
            }

            input {
                width: 100%;
                box-sizing: border-box;
                padding: 6px;
                outline: none;
                border: 1px solid #49beb7;
                border-radius: 6px;
                font-family: Overpass;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                background: #E0FFFF;
            }

            input:-webkit-autofill {
                -webkit-box-shadow: inset 0 0 0 50px #E0FFFF !important;
            }
        }
    }

    &__error {
        position: absolute;
        top: 0;
        right: 0;
        font-family: Overpass;
        font-size: 12px;
        font-weight: 400;
        color: #FF6347;
    }

}

